# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.venv/
env/

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Test images (uncomment if you dont want to commit any)
*.jpg
*.jpeg
*.png
*.webp